/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
	
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
top: -206px !important;
left: 0%;
background: url("modal-gloss.png") no-repeat scroll -200px -80px #EEE;
height: auto;
z-index:111;
position: absolute;

min-width:100%;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		

	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
		
		
		
		#profolio-wrapps {

		height: auto;
		width: 100%;

}


#profolio-wrapps h1{
		font-family: Georgia;
		font-size: 19px;
		color: #47BC51 !important;
		padding: 39px 81px 0px 21px;


}


.sidebar-portfolios {

		
		
		padding: 10px;
		width:40%;
		margin-top:213px;
		padding-left:300px;
		

}

.sidebar-portfolios p{
font-family: inherit;
color: #000;
font-size: 14px !important;
margin: -11px 0px 19px 3px !important;
padding: -1px 9px 3px 4px;


}

.sidebar-portfolios h3{
    font-family: Georgia;
    color: #000 !important;
    font-size: 13px;
    border: 3px solid #FFF !important;
    background-color: #FFF;
    box-shadow: -2px -1px 5px 6px #DDE3DD;
}

.modalsoc ul {
      list-style-type:none !important;

}

.modalsoc ul li {
    float: left;
    display: inline;
    margin: 9px 4px 19px;
    box-shadow: 0px 0px 11px 1px #E6ECE6;
}






