/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
	
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		
		top: -350px !important; 
		left: 41%;
		margin-left: -300px;
		width: 900px;
		background: #eee url(modal-gloss.png) no-repeat -200px -80px;
		position: absolute;
		height: 1900px;
		
		z-index: 101;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		

	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
		
		
		
		#profolio-wrapps {

		height: auto;
		width: 100%;

}

.fullscontent {

       width:60%;
	   float:left;
	   

}

.fullscontent h1{
		font-family: Georgia;
		font-size: 19px;
		color: #47BC51 !important;
		padding: 24px;


}


.sidebar-portfolios {

		
		float: right;
		padding: 10px;
		width: 30%;
		margin-top: 114px;

}

.sidebar-portfolios p{
	font-family: inherit;
	color: #000;
	font-size: 14px;
	margin: -18px 0px -2px 3px !important;
	padding: 15px 12px 9px 8px;


}

.sidebar-portfolios h3{
    font-family: Georgia;
    color: #000 !important;
    font-size: 13px;
    border: 3px solid #FFF !important;
    background-color: #FFF;
    box-shadow: -2px -1px 5px 6px #B8E4B5;;
}

.modalsoc ul {
      list-style-type:none !important;

}

.modalsoc ul li {
    float: left;
    display: inline;
    margin: 9px 4px 19px;
    box-shadow: 0px 0px 11px 1px #80DE80;
}






