.portfolios {
		cursor: default;
		float: left;
		height: 200px;
		margin: 0;
		overflow: hidden;
		position: relative;
		text-align: center;
		width: 300px;
}
.portfolios .masks,.portfolios .content {
   width: 300px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.portfolios img {
   display: block;
   position: relative;
}
.portfolios h2 {
    color: white;
    font-size: 17px;
    margin: 18px -45px 4px;
    padding: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
}
.portfolios p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.portfolios a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   margin-top: 40px;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 00px 0px 26px #120000;
   -moz-box-shadow: 0px 0px 26px #120000;
   box-shadow: 0px 0px 26px #120000;
}
.portfolios a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}


div.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ACACB3;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}	

div.img img {
		display: inline;
		margin-left:10px;
		margin-right:10px;
		border: 1px solid #FFF;
		width: 200px;
		height:200px;
		
}

div.img a:hover img {
    border: 1px solid #B6B6D2;
}

div.desc {
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 5px;
}











